*.o
*.dSYM
*.out
*.pyc
darknet
.fuse*
#lib*

*.backup
*.weights

*.h5

weights/*.weights

backup/*.backup
backup/*.weights

conv/darknet53.conv.74

my-weights/*.weights
my-weights/*.backup

tools/bbox-label-tool/Images/*
tools/bbox-label-tool/labels/*
tools/imagenet/n*
tools/imagenet/userinfo.json

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
*.a
*.so
